<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DTCM</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap-icons.min.css"> -->
</head>

<body>
    <div class="px-5">
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="text-center p-4 p-lg-5">
                    <p class="fw-bold text-primary mb-2">歡迎回來</p>
                    <h1 class="fw-bold mb-4">請選擇你的主訴（可複選）</h1>
                </div>
            </div>
        </section>

        <div style="height: 2rem; text-align: right;">
        </div>
        <br>
        <div class="w-100 d-flex mb-2">
            <button onclick="clearItems()" id="clear-btn" class="btn btn-secondary" style="display: none;">清除</button>
            &nbsp;<h5 id="cc-list"></h5>
            <button onclick="nextStep()" class="btn btn-outline-info ms-auto">下一步</button>
        </div>
        <div>

            <ul class="nav nav-tabs" role="tablist">
                {% for key in cc.keys() %}
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab"
                        href="#{{ key }}">{{ key }}</a></li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                <br>
                {% for key, val in cc.items() %}
                {% if key != '疼痛' %}
                <div class="tab-pane" role="tabpanel" id="{{ key }}">
                    {% for k, v in val.items() %}
                    <button class="btn btn-light" id="{{ naming[k] }}" onclick="addItem('{{ k }}', '{{ key }}')"
                        data-toggle="tooltip" data-placement="top" title="{{ v }}">{{ k }}</button>
                    {% endfor %}
                </div>
                {% else %}
                <div class="tab-pane" role="tabpanel" id="{{ key }}">
                    {% for k, v in val.items() %}
                    <h5>請選擇{{ k }}</h5>
                    {% for i, j in v.items() %}
                    <button class="btn btn-light" id="{{ naming[i] }}" onclick="addHurt('{{ i }}', '{{ k }}')"
                        data-toggle="tooltip" data-placement="top" title="{{ j }}">{{ i }}</button>
                    {% endfor %}
                    <br><br>
                    {% endfor %}
                    <button onclick="addItem(hurt, '{{ key }}')" class="btn btn-primary">選擇</button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <center><img width="40%" src="static/img/body_pic.png" alt="A picture of the body"></center>

    </div>

    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bs-init.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        chose = {};
        naming = JSON.parse('{{ naming | tojson | safe }}');

        hurt = ["", ""];
        hurtCnt = 1;

        function addHurt(item, type) {
            if (type == "部位") {
                type = 0;
            }
            else {
                type = 1;
            }

            if (item == hurt[type]) {
                $("#" + naming[item]).attr('class', 'btn btn-light');
                hurt[type] = "";
            }
            else {
                if (hurt[type] != "") {
                    $("#" + naming[hurt[type]]).attr('class', 'btn btn-light');
                }
                $("#" + naming[item]).attr('class', 'btn btn-dark');
                hurt[type] = item;
            }
        }

        function addItem(item, type) {
            let truth = [];
            if (type == "疼痛") {
                if (item[0] != "" && item[1] != "") {
                    truth.push(item[0] + "痛");
                    if(item[1] == "不確定") {
                        item[1] = "";
                    }
                    truth.push(item.join(''));

                    if(item[0] == "胃脘" || item[0] == "心臟") {
                        truth.push("臟器" + item[1]);
                    }
                    if(item[0] == "痰"){
                        truth.push("咳痰");
                    }

                    item = item.join('');
                }
                else {
                    return;
                }
            }
            else{
                truth.push(item);
            }


            if (naming[item] == undefined) {
                id = "hurt-" + hurtCnt;
                hurtCnt += 1;
            }
            else {
                id = naming[item];
            }

            if (type == "疼痛") {
                $("#" + naming[hurt[0]]).attr('class', 'btn btn-light');
                $("#" + naming[hurt[1]]).attr('class', 'btn btn-light');
                hurt = ["", ""];
            }

            if (chose[item] != undefined) { // delete
                delete chose[item]
                $('#' + id).attr('class', 'btn btn-light');
            } else {
                chose[item] = truth;
                $('#' + id).attr('class', 'btn btn-dark');
            }

            $('#cc-list').text(Object.keys(chose).sort().join(', '));

            if (Object.keys(chose).length > 0) {
                $("#clear-btn").show();
            }
            else {
                $("#clear-btn").hide();
            }
        }

        function clearItems() {
            for (let k in chose) {
                $('#' + naming[k]).attr('class', 'btn btn-light');
                delete chose[k];
            }

            $('#cc-list').text('');
            $("#clear-btn").hide();
        }

        function nextStep() {
            if (Object.keys(chose).length == 0) {
                alert('請選擇主訴');
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/ask',
                data: {
                    'cc': chose
                },
                success: function (data) {
                    window.location.href = '/ask';
                }
            });
        }
    </script>
</body>

</html>